.header {
  // background-color: var(--bgc);
  padding: 0 50px;
  border-radius: 10px;
  height: 100vh;
  overflow: hidden;
  .navbar {
    width: 100%;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100px;
    .logo {
      font-size: large;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      span {
        font-size: 50px;
        color: var(--primary-color);
        position: absolute;
        bottom: -11px;
        right: -11px;
      }
    }

    .menu {
      &__wrapper {
        display: flex;
        justify-content: space-around;
      }
      &__item {
        // box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
        a {
          padding: 5px 10px;
          position: relative;
          &::after {
            content: "";
            width: 100%;
            height: 5px;
            display: block;
            margin-bottom: -5px;
            position: absolute;
            border-bottom: 3px var(--primary-color) solid;
            bottom: 0;
            right: 25px;
            opacity: 0;
            @include easeIn
          }
          &:hover {
            &::after {
              opacity: 1;
              right: 0;
              @include easeIn
            }
          }
        }
      }
    }
  }

  .hero{
    display: flex;
    height: calc(100vh - 100px);

    .hero-section-1{
      width: 50vw;
      @include media(null, 750px){
        width: 100vw;

      }
      .welcome{
        color: var(--text-color);
        position: relative;
        top: 20%;
        .title{
          display: flex;
          flex-direction: column;
          font-size: 65px;
          justify-content: flex-start;
          align-items: flex-start;
          @include media(null, 750px){
            font-size: 50px;
            justify-content: center;
            align-items: center;
          }
          @include media(null, 450px){
            white-space: normal;
            font-size: 40px;

          }

          span{
            @include media(null, 750px){
              text-align: center;
            }
          }

        }
      }
    }
    .hero-section-2{
      width: 50vw;
      display: flex;
      flex-direction: column;
      @include media(null, 750px){
        display: none;
      }
      .layer2{
        width: 330px;
      }
        .table-image{
          margin-top: 250px;
        }
    }
  }
}

// header section end

// intro starts
// .intro {

// }

.popup{
  width: 680px;
  height: 720px;
  background-color: #fff;
  img{
    width: 50%;
  }
}

.intro__header, .showcase__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;

}

img{
  max-width: 100%;
}
